#cvv {
    width: 4rem;
}

#expiryMonth,
#expiryYear {
    width: 2rem;
}

#warning {
    background-color: red;
}

#checkoutForm {
    width: 40rem;
}

/* #checkoutForm label:first-child {
    margin-right: auto;
} */
